
<h1 style="position: absolute; right: 490px; top:5px">Login</h1>

<!-- <form action='/sessions' method='post'>
  <input name='username'>
  <input type="password" name="password" placeholder="Please enter your password">
  <input type='submit' value='login'>
</form> -->

<%= form_for(@user, url: '/sessions', html: {method: "post"},:html => { :style => 'position: absolute; right: 200px; top: 50px' }) do |f| %>
  <%= f.text_field :username %>
  <%= f.password_field :password %>
  <%= f.submit "Log in" %>
<% end %>

<% if flash[:errors] %>
  <%= flash[:error] %>
<% end %>





<%= link_to 'Sign Up if you don\'t have an account', users_path, :class => 'ui button',:style => 'position: absolute; right: 200px; top: 100px'  %>
