<div style="position: absolute;right:200px; top:200px">
<h1> Welcome to Michelin Meals</h1>

<h2>Please Sign Up</h2>

<%= form_for @user do |f| %>
  <%= f.label :username, 'Choose your Username:' %>
  <%= f.text_field :username, :style => 'position: absolute; right: 95px; top: 89px' %>
  <br>
  <br>
  <%= f.label :img_url, 'Pick an Image URL:' %>
  <%= f.text_field :img_url, :style => 'position: absolute; right: 95px; top: 137px'%>
  <br>
  <br>
  <%= f.label :password, 'Choose your Password:' %>
  <%= f.password_field :password, :style => 'position: absolute; right: 95px; top: 185px' %>
  <br>
  <br>
  <%= f.submit "Sign up" %>
<% end %>

<%= link_to 'Click here if you are an existing user', '/login',:class => 'ui button',:style => 'position: absolute; right: 200px; top: 300px' %>
</div>


<h1 style="position: absolute;right:200px; top:800px" > Creators: Sunny Patel and Ayodeji Okusanya  </h1>
