<h1>Please Sign Up</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :username %>
  <%= f.text_field :password %>
  <%= f.submit "Sign up" %>
<% end %>

<%= link_to 'Click here if you are an existing user', '/login' %>
