<div style="position: absolute;right:200px; top:200px">
<h1> Welcome to Michelin Meals</h1>

<h2>Please Sign Up</h2>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <br>
  <%= f.label :img_url %>
  <%= f.text_field :img_url %>
  <br>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <br>
  <%= f.submit "Sign up" %>
<% end %>

<%= link_to 'Click here if you are an existing user', '/login',:class => 'ui button',:style => 'position: absolute; right: 200px; top: 300px' %>
</div>
