<h1>Welcome <%= @user.username %> to Michelin Meals </h1>

<%= link_to 'See all posts', posts_path %>

<%= form_tag '/logout', method: "post" do %>
  <%= submit_tag "Sign Out" %>
<% end %>

<%= link_to "Create New Post", new_post_path  %>
