<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Michelin Meals</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href= <%= user_path %>> My Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href= <%= posts_path %> >Community Blogs</a>
      </li>
    </ul>

  </div>
</nav>
<div style="position: absolute; right:200px">
<%= form_tag '/logout', method: "post" do %>
<%= submit_tag "Sign Out", :style => 'position: absolute; right: 5px; top: -40px' %>
<% end %>
</div>







<div style="position: absolute; right:60px">




  <h1> <%= @post.title %> </h1>

  <div style="width:600px; height:200px" >
    <p> <%= @post.recipe %> </p>
    <div>
      <img src="<%= @post.img_url %>" alt="" height="500" width="500">
    </div>

      <p> Recipe by <%= @post.user.username  %> </p>




      <% @post.comments.each do |c| %>
      <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
        <div class="comment">
          <a class="avatar">
            <img src= <%= c.user.img_url %>>
          </a>
          <div class="content">
            <a class="author"> <%= c.user.username %>  </a>
            <div class="metadata">
              <span class="date"> <%= Time.now.strftime('%c') %> </span>
            </div>
            <div class="text">
              <%= c.content %>
            </div>

          </div>
        </div>
      <% end %>

        <form class="ui reply form" action="/comments" method="post">
          <div class="field">
            <input type="text" name="content">
            <!-- <textarea> -->
            <input type="hidden" name="post_id" value= <%= @post.id %>>




            <!-- </textarea> -->
          </div>

            <input type="submit" name="submit" value="Add Comment">


        </form>
        <% if flash[:message] %>
          <%= flash[:message] %>
        <% end %>
        <!-- <div style="position: absolute; top:1200px; right:0px"> -->
          <h2>Send a private message to <%= @post.user.username %></h2>
          <%= form_for @message do |f| %>
            <%= f.text_area :content, :style => 'width:500px; height:150px' %>
            <%= f.hidden_field :sender_id, :value => session[:id] %>
            <%= f.hidden_field :receiver_id, :value => @post.user.id %>
            <%= f.hidden_field :post_id, :value => @post.id %>
            <%= f.submit %>
          <% end %>
        <!-- </div> -->
      </div>



    </div>

  </div>
